@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}
body{
    background-color: hsl(47, 88%, 63%);
    min-height: 100vh;
    display: flex;
    align-items: center; 
    font-size: 16px;
}
.container{
    max-width: 400px;
    margin:  0 auto;
    
    
}
.card{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin: 0 1em;
    box-shadow: 8px 11px;
    border: 2px solid black;
}
.image img{
    width: 100%;
    border-radius: 20px;
}
.main{
    margin-top: 20px;
}
.main button{
    background-color: hsl(47, 88%, 63%);
    padding: 8px;
    border: none;
    font-weight: 800;
    border-radius: 5px;
    margin-bottom: 10px;
}
.date{
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 15px;
}
.main h1{
    font-weight: 800;
    margin-bottom: 15px;
}
.senten{
    color: hsl(0, 0%, 50%);
    margin-bottom: 20px;

}
.name{
    display: flex;
}
.name p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    padding-left: 10px;
}
.name img{
    width: 30px ;
}